@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using MbmStore.Models
@{
    ViewData["Title"] = "Index";
}

        <a asp-controller="Home" asp-action="Index">Home</a>

<h2>Invoices</h2>

@foreach (Invoice invoice in ViewBag.Invoices)
{
        
<div>
    <strong>Invoice ID:</strong>@invoice.InvoiceID<br />
    <strong>Order date:</strong> @invoice.OrderDate <br />

    <strong>Customer data:</strong>
    <ul>
        <li>
            @invoice.Customer.FirstName
            @invoice.Customer.LastName
        </li>
    </ul>

    <strong>Order details:</strong>
    <ul>
        @foreach (OrderItem item in invoice.OrderItems)
        {
            <li>Title: @item.Product.Title</li>
            <li>Price: @item.Product.Price</li>    
            <li>Quantity: @item.Quantity</li>
        }
    </ul>

    <strong>Total: @invoice.TotalPrice</strong>
    <br /> <br />
</div>
}

